body {
	background-color: #99CCED;
}

.topnav{
	background-color: #7E38B7;
}

.topnav a {
    float: left;
    color: white;
    background-color: #7E38B7;
    font-style: bold;
    text-align: center;
    font-family: "Lucida Console";
    text-decoration: none;
    border-style: solid;
    border-color: black;
    padding: 10px 12px;
}

.topnav a:hover {
    background-color: #9C89FF;
    color: black;
    animation-name: enlarge;
    animation-duration: 1s;
}

.topnav a.active {
    background-color: #541675;
    color: white;
}

@keyframes enlarge {
    from {
        padding: 10px 12px;
    }
    50% {
        padding: 12px 14px;
    }
    to  {
        padding: 10px 12px;
    }
}
