<!DOCTYPE HTML>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/graphics.css') }}">
</head>
<body>
	<div class="navigationBar">
		<a class="active" href="{{ url_for('home') }}">Home</a>
		<a href="{{ url_for('loginPage') }}">Login</a>
		<form action="http://127.0.0.1:5000/LocationReceiver" method="post">
			<select name="locationSelect" id="locationSelect">
				<option value="none">Locations : </option>
			</select>
			<input type="submit">
		</form>
	</div>
	<div class="navbackground"></div>
	<script>
		var select = document.getElementById("locationSelect");
		var locationList = {{ locationList|tojson }};
		for (var i=0; i < locationList.length; i++){
			var option = document.createElement("option");
			option.value = locationList[i];
			option.innerHTML = locationList[i];
			select.appendChild(option);
		}
	</script>
</body>
</html>