<!DOCTYPE HTML>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/graphics.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/bootstrap.css') }}">
</head>
<body>
	<nav class="navbar navbar-expand-lg bg-dark">
		<div class="container-fluid">
			<a class="navbar-brand" style="color:white;" href="{{ url_for('home') }}">Home</a>
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link" style="color:white;" href="{{ url_for('loginPage') }}">Login</a>
				</li>
			</ul>
			<form class="d-flex" action="http://127.0.0.1:5000/LocationReceiver" method="post">
				<input id="locationSelect" name="locationSelect" class="form-control me-2" type="search" placeholder="Search">
				<button class="btn btn-outline-success" type="submit">Search</button>
			</form>
		</div>
	</nav>
	<div class="card" style="width: 14rem; margin: 25px 25px 25px 25px; float:left; opacity:100%; animation-name: solid; animation-duration: 1.5s;">
		<img id="imageA" src="{{url_for('static', filename=images[0][0])}}" class="card-img-top">
		<div class="card-body">
			<h5 class="card-title" id="locationA"></h5>
			<div class="card" style="margin: 10px 10px 10px 10px;">
				<div class="card-body">
					<h5 class="card-title">Temperature</h5>
					<h1 id="temperatureA" class="display-6"></h1>
				</div>
			</div>
			<div class="card" style="margin: 10px 10px 10px 10px;">
				<div class="card-body">
					<h5 class="card-title">Pressure</h5>
					<h1 id="pressureA" class="display-6"></h1>
				</div>
			</div>
			<div class="card" style="margin: 10px 10px 10px 10px;">
				<div class="card-body">
					<h5 class="card-title">Humidity</h5>
					<h1 id="humidityA" class="display-6"></h1>
				</div>
			</div>
			<div class="card" style="margin: 10px 10px 10px 10px;">
				<div class="card-body">
					<h5 class="card-title">Cloud cover</h5>
					<h1 id="cloudCoverA" class="display-6"></h1>
					<img id="imageAnalysisA" src="{{url_for('static', filename=images[0][1])}}" class="card-img-top">
				</div>
			</div>
			<form action='http://127.0.0.1:5000/locationRedirect' method='POST'>
				<input id="locationSubmitA" name='locationName' type='hidden'>
				<button class='btn btn-primary' type='submit'>search</button>
			</form>
		</div>
	</div>
	<div class="geoChart" id="geoChart"></div>
	<div class="card" style="width: 14rem; margin: 25px 25px 25px 25px; float:left; opacity:100%;animation-name: solid; animation-duration: 1.5s;">
		<img id="imageB" src="{{url_for('static', filename=images[1][0])}}" class="card-img-top">
		<div class="card-body">
			<h5 class="card-title" id="locationB"></h5>
			<div class="card" style="margin: 10px 10px 10px 10px;">
				<div class="card-body">
					<h5 class="card-title">Temperature</h5>
					<h1 id="temperatureB" class="display-6"></h1>
				</div>
			</div>
			<div class="card" style="margin: 10px 10px 10px 10px;">
				<div class="card-body">
					<h5 class="card-title">Pressure</h5>
					<h1 id="pressureB" class="display-6"></h1>
				</div>
			</div>
			<div class="card" style="margin: 10px 10px 10px 10px;">
				<div class="card-body">
					<h5 class="card-title">Humidity</h5>
					<h1 id="humidityB" class="display-6"></h1>
				</div>
			</div>
			<div class="card" style="margin: 10px 10px 10px 10px;">
				<div class="card-body">
					<h5 class="card-title">Cloud cover</h5>
					<h1 id="cloudCoverB" class="display-6"></h1>
					<img id="imageAnalysisB" src="{{url_for('static', filename=images[1][1])}}" class="card-img-top">
				</div>
			</div>
			<form action='http://127.0.0.1:5000/locationRedirect' method='POST'>
				<input id="locationSubmitB" name='locationName' type='hidden'>
				<button class='btn btn-primary' type='submit'>search</button>
			</form>
		</div>
	</div>
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	<script>
		images = {{ images|tojson }}
		let geoMap;
		function drawLocationsMap(jsonData) {
			heatMapData = [];
			for(var i=0; i < jsonData.recent.data[3].length; i++){
				console.log(jsonData);
				heatMapData.push({location: new google.maps.LatLng(jsonData.locationLatLong.latitude[i],jsonData.locationLatLong.longitude[i]), weight:parseFloat(jsonData.recent.data[3][i][1].substr(0,4))});
			}
			geoMap = new google.maps.Map(document.getElementById('geoChart'), {
				zoom: 8,
				center: new google.maps.LatLng(jsonData.locationLatLong.latitude[0],jsonData.locationLatLong.longitude[0]),
			});
			var heatmap = new google.maps.visualization.HeatmapLayer({
				data: heatMapData,
				radius:20,
			});
			heatmap.setMap(geoMap);
		}
		function displayInformationForLocation(jsonData, location, arrayPosition){
			document.getElementById('location'+location).innerHTML = jsonData.locationNames[0+arrayPosition]
			document.getElementById('locationSubmit'+location).value = jsonData.locationNames[0+arrayPosition];
			document.getElementById('temperature'+location).innerHTML = jsonData.recent.data[0][0+arrayPosition][1];
			document.getElementById('pressure'+location).innerHTML = jsonData.recent.data[2][0+arrayPosition][1];
			document.getElementById('cloudCover'+location).innerHTML = jsonData.recent.data[3][0+arrayPosition][1];
			document.getElementById('humidity'+location).innerHTML = jsonData.recent.data[1][0+arrayPosition][1];
		}
		function loadDataForHomePage(){
        	fetch('/homePageInfo')
					.then(function (response) {
						return response.json();
					}).then(function (data) {
						jsonData = data;
						displayInformationForLocation(jsonData, 'A', 0);
						displayInformationForLocation(jsonData, 'B', 1);
						drawLocationsMap(jsonData);
				});
        }
        setInterval(loadDataForHomePage, 60000);
	</script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAbyByW1vZYqvdt-DC-pHNyqDvAgF4oDrI&libraries=visualization&callback=loadDataForHomePage"></script>
</body>
</html>