<!DOCTYPE HTML>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/graphics.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/bootstrap.css') }}">
</head>
<body>
	<nav class="navbar navbar-expand-lg bg-dark">
		<div class="container-fluid">
			<a class="navbar-brand" style="color:white;" href="{{ url_for('home') }}">Home</a>
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link" style="color:white;" href="{{ url_for('loginPage') }}">Login</a>
				</li>
			</ul>
			<form class="d-flex" action="http://127.0.0.1:5000/LocationReceiver" method="post">
				<input id="locationSelect" name="locationSelect" class="form-control me-2" type="search" placeholder="Search">
				<button class="btn btn-outline-success" type="submit">Search</button>
			</form>
		</div>
	</nav>
	<div class="card" style="width: 16rem; margin: 25px 25px 25px 25px; float:left; opacity:100%; animation-name: solid; animation-duration: 1.5s;">
		<img id="imageA" src="{{url_for('static', filename=images[0])}}" class="card-img-top">
		<div class="card-body">
			<h5 class="card-title" id="locationA"></h5>
			<div class="card" style="margin: 10px 10px 10px 10px;">
				<div class="card-body">
					<h5 class="card-title">Temperature</h5>
					<h1 id="temperatureA" class="display-6"></h1>
				</div>
			</div>
			<div class="card" style="margin: 10px 10px 10px 10px;">
				<div class="card-body">
					<h5 class="card-title">Pressure</h5>
					<h1 id="pressureA" class="display-6"></h1>
				</div>
			</div>
			<div class="card" style="margin: 10px 10px 10px 10px;">
				<div class="card-body">
					<h5 class="card-title">Humidity</h5>
					<h1 id="humidityA" class="display-6"></h1>
				</div>
			</div>
		</div>
	</div>
	<div class="geoChart" id="geoChart"></div>
	<div class="card" style="width: 16rem; margin: 25px 25px 25px 25px; float:left; opacity:100%;animation-name: solid; animation-duration: 1.5s;">
		<img id="imageB" src="{{url_for('static', filename=images[1])}}" class="card-img-top">
		<div class="card-body">
			<h5 class="card-title" id="locationB"></h5>
			<div class="card" style="margin: 10px 10px 10px 10px;">
				<div class="card-body">
					<h5 class="card-title">Temperature</h5>
					<h1 id="temperatureB" class="display-6"></h1>
				</div>
			</div>
			<div class="card" style="margin: 10px 10px 10px 10px;">
				<div class="card-body">
					<h5 class="card-title">Pressure</h5>
					<h1 id="pressureB" class="display-6"></h1>
				</div>
			</div>
			<div class="card" style="margin: 10px 10px 10px 10px;">
				<div class="card-body">
					<h5 class="card-title">Humidity</h5>
					<h1 id="humidityB" class="display-6"></h1>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	<script>
		google.charts.load('visualization', {'packages':['geochart'],'mapsApiKey': 'MY_KEY'});
		google.charts.setOnLoadCallback(loadDataForHomePage);
		images = {{ images|tojson }}
		console.log(images)
		function drawLocationsMap(jsonData) {
			data = [['City','Sample count']];
			for(var i=0; i < jsonData.sampleCounts.length; i++){
				data.push([jsonData.locationNames[i],jsonData.sampleCounts[i]]);
			}
			console.log(data);
			var dataTable = google.visualization.arrayToDataTable(data);
			var options = {
				title: 'Geo map',
				sizeAxis: {minValue: 0, maxSize: 15},
				region: 'world',
				displayMode: 'markers',
				markerOpacity: 0.8,
				legend: {texStyle: {color: 'black', fontSize: 16}},
				colorAxis: {colors: ['yellow', 'purple']}
			};
			var chart = new google.visualization.GeoChart(document.getElementById('geoChart'));
			chart.draw(dataTable, options);
		}
		function displayInformationForLocation(jsonData, location, arrayPosition){
			document.getElementById('location'+location).innerHTML = jsonData.locationNames[0+arrayPosition];
			document.getElementById('temperature'+location).innerHTML = jsonData.recent.data[0][0+arrayPosition][1];
			document.getElementById('pressure'+location).innerHTML = jsonData.recent.data[2][0+arrayPosition][1];
			document.getElementById('humidity'+location).innerHTML = jsonData.recent.data[1][0+arrayPosition][1];
		}
		function loadDataForHomePage(){
        	fetch('/homePageInfo')
					.then(function (response) {
						return response.json();
					}).then(function (data) {
						jsonData = data;
						displayInformationForLocation(jsonData, 'A', 0);
						displayInformationForLocation(jsonData, 'B', 1);
						drawLocationsMap(jsonData);
				});
        }
        setInterval(loadDataForHomePage, 60000);
	</script>
</body>
</html>