<!DOCTYPE HTML>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/graphics.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/minuteCast.css') }}">
</head>
<body>
	<div class="navigationBar">
		<a href="{{ url_for('home') }}">Home</a>
		<a href="#HourCast">Hourly Forecast</a>
		<a href="#DailyCast">Daily Forecast</a>
		<a href="{{ url_for('loginPage') }}">Login</a>
	</div>
	<div class="navbackground"></div>
	<div class="summaryBox">
		<a id="location"></a>
		<p id = "temperature" class="info"></p>
		<p id = "pressure" class="info"></p>
	</div>
	<div class="chart" id="chartTemperature"></div>
	<div class="chart" id="chartPressure"></div>
	<table class="charts-css bar" id="MinuteCastTemp"></table>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script type="text/javascript">
		google.charts.load('current', {'packages':['corechart']});
		google.charts.setOnLoadCallback(loadDataForChart);
		var temperatureValue = document.getElementById("temperature");
		var pressureValue = document.getElementById("pressure");
		var locationDisplay = document.getElementById("location");
		var locationName = {{ locationName|tojson }}
		function drawChart(dataType, typeName, chart) {
        	var data = new google.visualization.DataTable();
          	data.addColumn("number", "Time");
          	data.addColumn("number", typeName);
          	for(var i=0; i < dataType.length; i++){
          		data.addRow([i, dataType[i]])
          	}
        	var options = {
          		title: typeName,
          		legend: { position: 'bottom' }
        	};

        	var chart = new google.visualization.LineChart(document.getElementById(chart));

        	chart.draw(data, options)
        }
        function loadDataForChart(){
			fetch('/'+locationName+'/fetchData')
				.then(function (response) {
					return response.json();
				}).then(function (jsonData) {
					var data = jsonData;
					console.log(data);
					drawChart(data.data.Temperature,"Temperature", "chartTemperature");
					drawChart(data.data.Pressure,"Pressure", "chartPressure");
					temperatureValue.innerHTML = "Temperature: "+data.data.Temperature[0]
					pressureValue.innerHTML = "Pressure: "+data.data.Pressure[0]
					locationDisplay.innerHTML = data.locationName
				});
		}
		setInterval(loadDataForChart, 60000);
	</script>
</body>
</html>