<!DOCTYPE HTML>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/graphics.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/timeline.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/bootstrap.css') }}">
</head>
<body>
	<nav class="navbar navbar-expand-lg bg-dark">
		<div class="container-fluid">
			<a class="navbar-brand" style="color:white;" href="{{ url_for('home') }}">Home</a>
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link" style="color:white;" href="{{ url_for('hourlyPage', locationName=post.locationName) }}">Hourly Forecast</a>
				</li>
			</ul>
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link" style="color:white;" href="{{ url_for('dailyPage', locationName=post.locationName) }}">Daily Forecast</a>
				</li>
			</ul>
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link" style="color:white;" href="{{ url_for('timelinePage', locationName=post.locationName) }}">Timeline</a>
				</li>
			</ul>
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link" style="color:white;" href="{{ url_for('loginPage') }}">Login</a>
				</li>
			</ul>
		</div>
	</nav>
	<form id="sampleTypePicker">
		<div class="input-group mb-3">
			<input class="btn btn-outline-secondary" type="submit" value="submit">
			<select id="sampleTypeSelect"></select>
		</div>
	</form>
	<div class="chart" id="chartDisplay"></div>
	<table class="charts-css bar" id="MinuteCastTemp"></table>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script type="text/javascript">
		google.charts.load('current', {'packages':['corechart']});
		google.charts.setOnLoadCallback(loadDataForChart);
		var post = {{ post|tojson }}
		var sampleTypeSelectBox = document.getElementById("sampleTypeSelect");
		var sampleTypePicker = document.getElementById('sampleTypePicker');
		var dataSelection = "TEMPERATURE";
		var jsonRequest;
		for(var i = 0; i < post.sampleTypes.length; i++){
			var option = document.createElement("option");
			option.value = post.sampleTypes[i];
			option.innerHTML = post.sampleTypes[i];
			sampleTypeSelectBox.appendChild(option);
		}
		sampleTypePicker.addEventListener('submit', function(e) {
    		e.preventDefault();
    		dataSelection = sampleTypeSelectBox.options[sampleTypeSelectBox.selectedIndex].value;
    		sampleTypeChart(dataSelection, jsonRequest);
		})
		function drawChart(sampleType, time, typeName, chart) {
        	var data = new google.visualization.DataTable();
          	data.addColumn("date", "Time");
          	data.addColumn("number", typeName);
          	for(var i=0; i < sampleType.length; i++){
          		dateTime = new Date(Date.UTC(parseInt(time[i].substring(0,4)), parseInt(time[i].substring(5,7))-1, parseInt(time[i].substring(8,10)), parseInt(time[i].substring(12,14))-1, parseInt(time[i].substring(15,17)), parseInt(time[i].substring(18,20))));
          		data.addRow([dateTime, sampleType[i]])
          	}
        	var options = {
          		title: typeName,
          		legend: { position: 'bottom' }
        	};

        	var chart = new google.visualization.LineChart(document.getElementById(chart));
        	chart.draw(data, options)
        }
        function sampleTypeChart(dataSelection, jsonRequest){
			if(jsonRequest.data[dataSelection].data.length > 1){
				drawChart(jsonRequest.data[dataSelection].data,jsonRequest.data[dataSelection].time, dataSelection, "chartDisplay");
			}
		}
        function loadDataForChart(){
        	fetch('/fetchMachineLearningPredictions?locationName='+post.locationName+'&period=24&periodType=H')
					.then(function (response) {
						return response.json();
					}).then(function (jsonData) {
						jsonRequest = jsonData;
						sampleTypeChart(dataSelection, jsonRequest);
				});
        }
	</script>
</body>
</html>