<!DOCTYPE HTML>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/graphics.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/timeline.css') }}">
</head>
<body>
	<div class="navigationBar">
		<a href="{{ url_for('home') }}">Home</a>
		<a class='active' href="{{ url_for('hourlyPage', locationName=post.locationName) }}">Hourly Forecast</a>
		<a href="#DailyCast">Daily Forecast</a>
        <a href="{{ url_for('timelinePage', locationName=post.locationName) }}">Timeline</a>
		<a href="{{ url_for('loginPage') }}">Login</a>
	</div>
	<div class="navbackground"></div>
	<form id="sampleTypePicker">
		<select id="sampleTypeSelect"></select>
		<input type="submit" value="submit">
	</form>
	<div class="chart" id="chartDisplay"></div>
	<table class="charts-css bar" id="MinuteCastTemp"></table>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script type="text/javascript">
		google.charts.load('current', {'packages':['corechart']});
		google.charts.setOnLoadCallback(loadDataForChart);
		var post = {{ post|tojson }}
		var sampleTypeSelectBox = document.getElementById("sampleTypeSelect");
		var sampleTypePicker = document.getElementById('sampleTypePicker');
		var dataSelection = "Temperature";
		var jsonRequest;
		for(var i = 0; i < post.sampleTypes.length; i++){
			var option = document.createElement("option");
			option.value = post.sampleTypes[i];
			option.innerHTML = post.sampleTypes[i];
			sampleTypeSelectBox.appendChild(option);
		}
		sampleTypePicker.addEventListener('submit', function(e) {
    		e.preventDefault();
    		dataSelection = sampleTypeSelectBox.options[sampleTypeSelectBox.selectedIndex].value;
    		sampleTypeChart(dataSelection, jsonRequest);
		})
		function drawChart(sampleType, time, typeName, chart) {
        	var data = new google.visualization.DataTable();
          	data.addColumn("date", "Time");
          	data.addColumn("number", typeName);
          	for(var i=0; i < sampleType.length; i++){
          		dateTime = new Date(Date.UTC(parseInt(time[i].substring(0,4)), parseInt(time[i].substring(5,7))-1, parseInt(time[i].substring(8,10)), parseInt(time[i].substring(12,14))-1, parseInt(time[i].substring(15,17)), parseInt(time[i].substring(18,20))));
          		data.addRow([dateTime, sampleType[i]])
          	}
        	var options = {
          		title: typeName,
          		legend: { position: 'bottom' }
        	};

        	var chart = new google.visualization.LineChart(document.getElementById(chart));
        	chart.draw(data, options)
        }
        function sampleTypeChart(dataSelection, jsonRequest){
			if(dataSelection == "Temperature"){
				drawChart(jsonRequest.data.Temperature.data,jsonRequest.data.Temperature.time, "Temperature", "chartDisplay");
			} else if(dataSelection == "Pressure"){
				drawChart(jsonRequest.data.Pressure.data,jsonRequest.data.Pressure.time, "Pressure", "chartDisplay");
			} else if(dataSelection == "Humidity"){
				drawChart(jsonRequest.data.Humidity.data,jsonRequest.data.Humidity.time, "Humidity", "chartDisplay");
			} else if(dataSelection == "Cloud cover"){
				drawChart(jsonRequest.data.CloudCover.data,jsonRequest.data.CloudCover.time, "Cloud cover", "chartDisplay");
			}
		}
        function loadDataForChart(){
        	fetch('/fetchHourly?locationName='+post.locationName)
					.then(function (response) {
						return response.json();
					}).then(function (jsonData) {
						jsonRequest = jsonData;
						sampleTypeChart(dataSelection, jsonRequest);
				});
        }
		setInterval(loadDataForChart, 60000);
	</script>
</body>
</html>