<!DOCTYPE HTML>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/graphics.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/minuteCast.css') }}">
</head>
<body>
	<div class="navigationBar">
		<a href="{{ url_for('home') }}">Home</a>
		<a href="{{ url_for('hourlyPage', locationName=post.locationName) }}">Hourly Forecast</a>
		<a href="{{ url_for('dailyPage', locationName=post.locationName) }}">Daily Forecast</a>
		<a href="{{ url_for('timelinePage', locationName=post.locationName) }}">Timeline</a>
		<a href="{{ url_for('loginPage') }}">Login</a>
	</div>
	<div class="navbackground"></div>
	<div class="summaryBox">
		<a id="location"></a>
		<p id="latLong" class="info"></p>
		<p id="temperature" class="info"></p>
		<p id="pressure" class="info"></p>
		<p id="summary"></p>
	</div>
	<div class="warning">
		<a id="warning"></a>
	</div>
	<form id="sampleTypePicker">
		<select id="sampleTypeSelect"></select>
		<input type="submit" value="submit">
	</form>
	<div class="chart" id="chartDisplay"></div>
	<table class="charts-css bar" id="MinuteCastTemp"></table>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script type="text/javascript">
		google.charts.load('current', {'packages':['corechart']});
		google.charts.setOnLoadCallback(loadDataForChart);
		var temperatureValue = document.getElementById('temperature');
		var pressureValue = document.getElementById('pressure');
		var locationNameDisplay = document.getElementById('location');
		var latLongDisplay = document.getElementById('latLong');
		var summary = document.getElementById('summary');
		var sampleTypeSelectBox = document.getElementById('sampleTypeSelect');
		var sampleTypePicker = document.getElementById('sampleTypePicker');
		var warning = document.getElementById('warning');
		var jsonRequest;
		var dataSelection = 'TEMPERATURE';
		var post = {{ post|tojson }};
		for(var i = 0; i < post.sampleTypes.length; i++){
			var option = document.createElement("option");
			option.value = post.sampleTypes[i];
			option.innerHTML = post.sampleTypes[i];
			sampleTypeSelectBox.appendChild(option);
		}
		sampleTypePicker.addEventListener('submit', function(e) {
    		e.preventDefault();
    		dataSelection = sampleTypeSelectBox.options[sampleTypeSelectBox.selectedIndex].value;
    		sampleTypeChart(dataSelection, jsonRequest);
		})
		function drawChart(sampleType, time, typeName, chart) {
        	var data = new google.visualization.DataTable();
          	data.addColumn("date", "Time and date");
          	data.addColumn("number", typeName);
          	for(var i=0; i < sampleType.length; i++){
          		dateTime = new Date(Date.UTC(parseInt(time[i].substring(0,4)), parseInt(time[i].substring(5,7))-1, parseInt(time[i].substring(8,10)), parseInt(time[i].substring(12,14))-1, parseInt(time[i].substring(15,17)), parseInt(time[i].substring(18,20))));
          		data.addRow([dateTime, sampleType[i]]);
          	}
        	var options = {
          		title: typeName,
          		legend: { position: 'bottom' }
        	};
        	var chart = new google.visualization.LineChart(document.getElementById(chart));
        	chart.draw(data, options);
        }
        function sampleTypeChart(dataSelection, jsonRequest){
        	console.log(dataSelection);
			if(jsonRequest.data[dataSelection].data.length > 1){
				drawChart(jsonRequest.data[dataSelection].data,jsonRequest.data[dataSelection].time, dataSelection, "chartDisplay");
			}
		}
        function loadDataForChart(){
			fetch('/fetchData?locationName='+post.locationName)
				.then(function (response) {
					return response.json();
				}).then(function (jsonData) {
					jsonRequest = jsonData;
					temperatureValue.innerHTML = "Temperature: "+jsonRequest.data.TEMPERATURE.latestValue+" celsius";
					pressureValue.innerHTML = "Pressure: "+jsonRequest.data.PRESSURE.latestValue+" hPa";
					locationNameDisplay.innerHTML = jsonRequest.location.locationName;
					latLongDisplay.innerHTML = "Latitude: "+jsonRequest.location.latitude+"<br>Longitude: "+jsonRequest.location.longitude;
					if(jsonRequest.data.PRESSURE.trend == "increase"){
						pressureInfluence = "lower";
					}else{
						pressureInfluence = "higher";
					}
					summary.innerHTML = "Temperature is likely to "+jsonRequest.data.TEMPERATURE.trend+" over the next hour. Pressure is likely to "+jsonRequest.data.PRESSURE.trend+", resulting in a "+pressureInfluence+" chance of cloud cover across the next hour.";
					if(jsonRequest.data.TEMPERATURE.latestValue >= 30){
						document.body.style.backgroundImage = "url({{url_for('static',filename='styles/Dry.jpg')}})";
					} else if(jsonRequest.data.TEMPERATURE.latestValues >= 20 & jsonRequest.data.TEMPERATURE.latestValues <= 30){
						document.body.style.backgroundImage = "url({{url_for('static',filename='styles/Sunset2.jpg')}})";
					} else if(jsonRequest.data.TEMPERATURE.latestValues >= 10 & jsonRequest.data.TEMPERATURE.latestValues <= 20){
						document.body.style.backgroundImage = "url({{url_for('static',filename='styles/spring.jpg')}})";
					} else{
						document.body.style.backgroundImage = "url({{url_for('static',filename='styles/winter.jpg')}})";
					}
					if(post.stormWarning != 'None'){
						warning.innerHTML = "Extreme weather warning notice from "+post.stormWarning;
						document.body.style.backgroundImage = "url({{url_for('static',filename='styles/Storm.jpg')}})";
					}
					sampleTypeChart(dataSelection, jsonRequest);
				});
		}
		setInterval(loadDataForChart, 60000);
	</script>
</body>
</html>