<!DOCTYPE HTML>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/graphics.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/bootstrap.css') }}">
</head>
<body>
	<nav class="navbar navbar-expand-lg bg-dark">
		<div class="container-fluid">
			<a class="navbar-brand" href="{{ url_for('home') }}">Home</a>
			<a class="navbar-brand" href="{{ url_for('loginPage') }}">Login</a>
			<form class="d-flex" action="http://127.0.0.1:5000/LocationReceiver" method="post">
				<input id="locationSelect" name="locationSelect" class="form-control me-2" type="search" placeholder="Search">
				<button class="btn btn-outline-success" type="submit">Search</button>
			</form>
		</div>
	</nav>
	<div id="locationList">
	</div>
	<script>
		var post = {{ post|tojson }};
		var select = document.getElementById("locationSelect");
		var locationList = document.getElementById("locationList");
		for (var i=0; i < post.locationNames.length; i++){
			var url = "url_for('locationPage', locationName="+post.locationNames[i]+")"
			console.log(url)
			locationList.innerHTML = "<div class='card' style='width: 18rem'>"+
			"<div class='card-body'>"+
			"<h5 class='card-title'>"+post.locationNames[i]+"</h5>"+
			"<form action='http://127.0.0.1:5000/locationRedirect' method='POST'>"+
			"<input name='locationName' type='hidden' value="+post.locationNames[i]+">"+
			"<button class='btn btn-primary' type='submit'>go to page</button></form>"+
			"</div></div>"
		}
	</script>
</body>
</html>