<!DOCTYPE HTML>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/graphics.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/loginGraphics.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/bootstrap.css') }}">
</head>
<body>
	<nav class="navbar navbar-expand-lg bg-dark">
		<div class="container-fluid">
			<a class="navbar-brand" style="color:white;" href="{{ url_for('home') }}">Home</a>
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link" style="color:white;" href="{{ url_for('loginPage') }}">Login</a>
				</li>
			</ul>
		</div>
	</nav>
	<form action="http://127.0.0.1:5000/LoginReceiver" method="post">
		<div class="card" style="margin: 10px 10px 10px 10px; width: 20rem; float:left;">
			<div class="card-body">
				<h5 class="card-title">Login</h5>
				<input type="text" class="form-control" placeholder="username/email" name="username">
				<input type="password" class="form-control" placeholder="password" name="password"/><br>
				<input class="btn btn-primary" type="submit" value="login"/>
			</div>
		</div>
	</form>
	<form action="http://127.0.0.1:5000/RegisterReceiver" method="post">
		<div class="card" style="margin: 10px 10px 10px 10px; width: 20rem; float:left;">
			<div class="card-body">
				<h5 class="card-title">Register</h5>
				<input type="text" class="form-control" placeholder="username" name="username">
				<input type="text" class="form-control" placeholder="email" name="email">
				<input type="password" class="form-control" placeholder="password" name="password">
				<input type="password" class="form-control" placeholder="re-enter password" name="checkPassword"><br>
				<input class="btn btn-primary" type="submit" value="sign up"/>
			</div>
		</div>
	</form>
</body>
</html>