<!DOCTYPE HTML>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/graphics.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/loginGraphics.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/bootstrap.css') }}">
</head>
<body>
	<nav class="navbar navbar-expand-lg bg-dark">
		<div class="container-fluid">
			<a class="navbar-brand" style="color:white;" href="{{ url_for('home') }}">Home</a>
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link" style="color:white;" href="{{ url_for('loginPage') }}">Login</a>
				</li>
			</ul>
		</div>
	</nav>
	<form action="http://127.0.0.1:5000/LoginReceiver" method="post">
		<div class="login">
			<h2>Login</h2>
			<p>Username : </p><p><input type="text" name="username"/></p>
			<p>Password : </p><p><input type="password" name="password"/></p>
			<input type="submit" value="login"/>
		</div>
	</form>
	<form action="http://127.0.0.1:5000/RegisterReceiver" method="post">
		<div class="login">
			<h2>Register</h2>
			<p>Username : </p><p><input type="text" name="username"></p>
			<p>Password : </p><p><input type="password" name="password"></p>
			<p>Repeat password : </p><p><input type="password" name="checkPassword"></p>
			<input type="submit" value="sign up"/>
		</div>
	</form>
</body>
</html>