<!DOCTYPE HTML>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/graphics.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/userPageGraphics.css') }}">
</head>
<body>
	<div class="navigationBar">
		<a href="{{ url_for('home') }}">Home</a>
		<a class="active" href="{{ url_for('loginPage') }}">Login</a>
	</div>
	<div class="navbackground"></div>
	<div class="statistics">
		<form action="http://127.0.0.1:5000/imageReceiver" method="post" enctype="multipart/form-data">
			<p id = "username" name="username"></p>
			<p id = "imageCount" name="imageCount"></p>
			<input type="file" name="imageUpload">
			<p>Location (town name) : </p>
			<input type="text" name="location"><br>
			<input type="checkbox" id="setHome" name="setHome">
			<label for="setHome">Set as home?</label><br>
			<input type="submit" value="submit image">
			<input type="hidden" name="hiddenUsername" id="hiddenUsername" value="">
		</form>
	</div>
	<script>
		var welcome = document.getElementById("username");
		var imageCount = document.getElementById("imageCount");
		var userDetails = {{ info|tojson }};
		console.log(userDetails);
		document.getElementById("hiddenUsername").value = userDetails[0];
		welcome.innerHTML = "User : "+userDetails[0];
		imageCount.innerHTML = "Images contributed : "+userDetails[1];
	</script>
</body>
</html>