<!DOCTYPE HTML>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/graphics.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/userPageGraphics.css') }}">
</head>
<body>
	<div class="navigationBar">
		<a href="{{ url_for('home') }}">Home</a>
		<a class="active" href="{{ url_for('loginPage') }}">Login</a>
	</div>
	<div class="navbackground"></div>
	<div class="box">
		<form action="http://127.0.0.1:5000/imageReceiver" method="post" enctype="multipart/form-data">
			<p id = "username" name="username"></p>
			<p id = "imageCount" name="imageCount"></p>
			<input type="file" name="imageUpload">
			<p>Location (town name) : </p>
			<input type="text" name="location"><br>
			<input type="checkbox" id="setHome" name="setHome">
			<label for="setHome">Set as home?</label><br>
			<input type="submit" value="submit image">
			<input type="hidden" name="hiddenUsername" id="hiddenUsername" value="">
		</form>
	</div>
	<div class="box">
		<h2>Location not found?</h2>
		<form action="http://127.0.0.1:5000/addLocation" method="post">
			<p>Location name : </p><input type="text" name="locationName">
			<p>Latitude (decimal) : </p><input type="text" name="latitude">
			<p>Longitude (decimal) : </p><input type="text" name="longitude"><br>
			<input type="submit" value="add new location">
		</form>
	</div>
	<div class="box">
		<h2>Add your own station!</h2>
		<p>Location name : </p><input type="text" id="stationLocationName" name="locationName">
		<button id="submitApplication" onclick="generateAPI()">Generate api key and station name</button>
		<input id="name" type="hidden">
		<input id="APIKEY" type="hidden">
		<input id="revealAPI" type="hidden" onclick="unhide()"><label>Show api key</label>
	</div>
	<div class="stormWarning">
		<img src="{{ url_for('static',filename='styles/ExtremeWeather.png') }}", onclick="reportExtremeWeather()">
	</div>
	<p id="errorMessage"></p>
	<script>
		var welcome = document.getElementById("username");
		var imageCount = document.getElementById("imageCount");
		var stationName = document.getElementById("name");
		var APIKey = document.getElementById("APIKEY");
		var showAPIKey = document.getElementById("revealAPI");
		var errorMessage = document.getElementById("errorMessage");
		var stationLocation = document.getElementById("stationLocationName");
		var post = {{ info|tojson }};
		console.log(post);
		document.getElementById("hiddenUsername").value = post[0];
		welcome.innerHTML = "User : "+post[0];
		imageCount.innerHTML = "Images contributed : "+post[1];
		if(post[2] != "None"){
			stationName.type = "text";
			APIKey.type = "password";
			showAPIKey.type = "checkbox";
			stationName.value = post[2];
			APIKey.value = post[3];
		}
		function generateAPI(){
			fetch("http://127.0.0.1:5000/addStation?userDetails="+[post[0],post[1]], {
				method: "POST",
				body: JSON.stringify({
					location: stationLocation.value
				}),
				headers: {
					"Content-type": "application/json; charset=UTF-8"
				}
			})
			.then(response => response.json())
			.then(function (response) {
				stationName.type = "text";
				APIKey.type = "password";
				showAPIKey.type = "checkbox";
				stationName.value = response["stationName"];
				APIKey.value = response["stationPass"];
			});
		}
		function reportExtremeWeather(){
				fetch("http://127.0.0.1:5000/reportWarning?userDetails="+[post[0],post[1]], {
				method: "POST",
				headers: {
					"Content-type": "application/json; charset=UTF-8"
				}
			})
			.then(response => response.json())
			.then(function (response) {
				errorMessage.value = response["message"];
				console.log(response["message"]);
			});
		}
		function unhide(){
			if(APIKey.type == "password"){
				APIKey.type = "text";
			}else{
				APIKey.type = "password";
			}
		}
	</script>
</body>
</html>