<!DOCTYPE HTML>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/graphics.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/userPageGraphics.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/bootstrap.css') }}">
</head>
<body>
	<nav class="navbar navbar-expand-lg bg-dark">
		<div class="container-fluid">
			<a class="navbar-brand" style="color:white;" href="{{ url_for('home') }}">Home</a>
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link" style="color:white;" href="{{ url_for('loginPage') }}">Login</a>
				</li>
			</ul>
		</div>
	</nav>
	<div class="card" style="background-color : #4dffcc; margin:10px 10px 10px 10px; width: 20rem; float:left;">
		<img src="{{url_for('static',filename='styles/Data.png')}}" class="card-img-top">
		<div class="card-body">
			<h5 class="card-title">User details</h5>
			<form action="http://127.0.0.1:5000/imageReceiver" method="post" enctype="multipart/form-data">
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text">User</span>
					</div>
					<p class="form-control" id = "username" name="username"></p>
				</div>
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text">Image count</span>
					</div>
					<p class="form-control" id = "imageCount" name="imageCount"></p>
				</div>
				<input type="file" name="imageUpload">
				<p class="card-text" >Location (town name) : </p>
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<div class="input-group-text">
							<input type="checkbox" id="setHome" name="setHome">
							<label for="setHome">Set home?</label>
						</div>
					</div>
					<input class="form-control" type="text" name="location"><br>
				</div>
				<input class="btn btn-primary" type="submit" value="submit image">
				<input type="hidden" name="hiddenUsername" id="hiddenUsername" value="">
			</form>
		</div>
	</div>
	<div class="card", style="background-color : #4dffcc; margin:10px 10px 10px 10px; width: 20rem; float:left;">
		<img src="{{url_for('static',filename='styles/Map.jpg')}}" class="card-img-top">
		<div class="card-body">
			<h5 class="card-title">Location not found?</h5>
			<form action="http://127.0.0.1:5000/addLocation" method="post">
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text">Location name</span>
					</div>
					<input class="form-control" type="text" name="locationName">
				</div>
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text">Latitude (dec.)</span>
					</div>
					<input class="form-control" type="text" name="latitude">
				</div>
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text">Longitude (dec.)</span>
					</div>
					<input class="form-control" type="text" name="longitude">
				</div>
				<input class="btn btn-primary" type="submit" value="add new location">
			</form>
		</div>
	</div>
	<div class="card", style="background-color : #4dffcc; margin:10px 10px 10px 10px; width: 20rem; float:left;">
		<img src="{{url_for('static',filename='styles/WeatherStation.jpg')}}" class="card-img-top">
		<div class="card-body">
			<h5 class="card-title">Add your own station!</h5>
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<span class="input-group-text">Location name</span>
				</div>
				<input class="form-control" type="text" id="stationLocationName" name="locationName">
			</div>
			<button class="btn btn-primary" id="submitApplication" onclick="generateAPI()">Generate api key and station name</button>
			<input class="form-control" id="name" type="hidden">
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<div class="input-group-text">
						<input id="revealAPI" type="hidden" onclick="unhide()">
						<label for="revealAPI">Reveal</label>
					</div>
				</div>
				<input class="form-control" id="APIKEY" type="hidden">
			</div>
		</div>
	</div>
	<div class="alert alert-primary" role="alert" id="errorMessage">
	</div>
	<div class="stormWarning">
		<img src="{{ url_for('static',filename='styles/ExtremeWeather.png') }}", onclick="reportExtremeWeather()">
	</div>
	<script>
		var welcome = document.getElementById("username");
		var imageCount = document.getElementById("imageCount");
		var stationName = document.getElementById("name");
		var APIKey = document.getElementById("APIKEY");
		var showAPIKey = document.getElementById("revealAPI");
		var errorMessage = document.getElementById("errorMessage");
		var stationLocation = document.getElementById("stationLocationName");
		var post = {{ info|tojson }};
		errorMessage.style.visibility = "hidden";
		console.log(post);
		document.getElementById("hiddenUsername").value = post[0];
		welcome.innerHTML = post[0];
		imageCount.innerHTML = post[1];
		if(post[2] != "None"){
			stationName.type = "text";
			APIKey.type = "password";
			showAPIKey.type = "checkbox";
			stationName.value = post[2];
			APIKey.value = post[3];
		}
		function generateAPI(){
			fetch("http://127.0.0.1:5000/addStation?userDetails="+[post[0],post[1]], {
				method: "POST",
				body: JSON.stringify({
					location: stationLocation.value
				}),
				headers: {
					"Content-type": "application/json; charset=UTF-8"
				}
			})
			.then(response => response.json())
			.then(function (response) {
				stationName.type = "text";
				APIKey.type = "password";
				showAPIKey.type = "checkbox";
				stationName.value = response["stationName"];
				APIKey.value = response["stationPass"];
			});
		}
		function reportExtremeWeather(){
				fetch("http://127.0.0.1:5000/reportWarning?userDetails="+[post[0],post[1]], {
				method: "POST",
				headers: {
					"Content-type": "application/json; charset=UTF-8"
				}
			})
			.then(response => response.json())
			.then(function (response) {
				errorMessage.innerHTML = response["message"];
				console.log(response["message"]);
			});
		}
		function unhide(){
			if(APIKey.type == "password"){
				APIKey.type = "text";
			}else{
				APIKey.type = "password";
			}
		}
	</script>
</body>
</html>