body {
	background-color: #d6d4d4;
	background-image: url(backgrounds/Sunset2.jpg);
	background-repeat: no-repeat;
	margin: 0;
	padding: 0;
}

.navigationBar {
	background-color: #7E38B7;
}

.navigationBar a {
    float: left;
    color: white;
    background-color: #262626;
    font-style: bold;
    text-align: center;
    font-family: Sans-Serif;
    text-decoration: none;
    padding: 10px 12px;
}

.navigationBar a:hover {
    background-color: white;
    color: black;
}

.navigationBar a.active {
    background-color: #541675;
    color: white;
}

.navigationBar select {
    float: right;
    font-family: Sans-Serif;
    padding: 10px 12px;
}

.navigationBar input[type=submit] {
    float: right;
    font-family: Sans-Serif;
    padding: 10px 12px;
}

.navbackground{
	width: 1920px;
	height: 39px;
	background-color: #262626;
}

.geoChart{
    position: relative;
    top:30px;
    margin-left: auto;
    margin-right: auto;
    width: 720px;
    height: 600px;
    float:left;
}

.satChart{
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 250px;
}

@keyframes solid{
    from{opacity:0%;}
    to{opacity:100%;}
}