.chart {
    position:relative;
    top:170px;
    left:20px;
    float:left;
    height:450px;
    width:800px;
}

.warning a {
    position: relative;
    left: 500px;
    bottom: 100px;
    color: white;
    font-style: bold;
    text-align: center;
    font-family: Sans-Serif;
    text-decoration: none;
    font-size: 20px;
}

p {
    float:left;
    display:inline;
}

.summaryBox {
    width: 400px;
    height: 300px;
    border-radius: 10px;
    background-color: white;
    opacity: 50%;
    position: relative;
    top: 50px;
    left: 80px;
}

.summaryBox a {
    text-decoration: none;
    font-size: 26px;
    position: relative;
    top: 20px;
    left: 20px;
    font-family: Sans-Serif;
    color:black;
}

.summaryBox p {
    width: 350px;
    height: 10px;
    font-family: Sans-Serif;
    position: relative;
    top: 10px;
    left: 20px;
}

select {
    float: left;
    position: relative;
    top: 130px;
    left: 80px;
}

input[type=submit] {
    position: relative;
    float: left;
    top: 130px;
    left: 80px;
}