.chart {
    position:relative;
    top:150px;
    left:30px;
    float:left;
    height:450px;
    width:700px;
    margin:2px;
}
p {
    float:left;
    display:inline;
}
.low{
    background-color:#26e6ff;
}
.medium{
    background-color:#38f561;
}
.high{
    background-color:#f5bf38;
}
.veryHigh{
    background-color:#f53838;
}