.box {
    width: 320px;
    height: 310px;
    font-family: Sans-Serif;
    position: relative;
    background-color : #4dffcc;
    opacity: 80%;
    top: 10px;
    left: 20px;
    float: left;
    margin: 10px 10px 10px 10px;
    border-radius: 10px;
}

.box p{
    left: 20px;
    position: relative;
}

.box h2{
    left:20px;
    position: relative;
}

.box input{
    left: 20px;
    position: relative;
}

.box label{
    left: 20px;
    position: relative;
}

.box button{
    left:20px;
    position:relative;
}

.stormWarning {
    float:right;
    width: 50px;
    height:50px;
    opacity: 80%;
    background-color: #ffc908;
    border-radius: 10px;
    margin: 10px 10px 10px 10px;
    position:relative;
    top: 150px;
    right: 50px;
}

.stormWarning img {
    position:relative;
    height: 50px;
    width: 50px;
}
.stormWarning a{
    height: 50px;
    width: 50px;
}

.stormWarning:hover{
    animation-name:enlarge;
    animation-duration: 2s;
}

.stormWarning img:hover{
    animation-name:enlarge;
    animation-duration: 2s;
}

@keyframes enlarge{
    0%{
        background-color:#ffc908;
        width:50px;
        height:50px;
        border-radius: 10px;
    }
    50%{
        background-color:#de0d37;
        width:60px;
        height:60px;
        border-radius: 10px;
    }
    100%{
        background-color:#ffc908;
        width:50px;
        height:50px;
        border-radius: 10px;
    }
}
