.statistics {
    width: 320px;
    height: 310px;
    font-family: Sans-Serif;
    position: relative;
    background-color : #4dffcc;
    opacity: 80%;
    top: 10px;
    left: 20px;
    float: left;
    margin: 10px 10px 10px 10px;
    border-radius: 10px;
}

.statistics p{
    left: 20px;
    position: relative;
}

.statistics input{
    left: 20px;
    position: relative;
}

.statistics label{
    left: 20px;
    position: relative;
}
